/*
Additional Navigation Styles
*/

#navigation .filters-expanded .filter-items {
    overflow: hidden;
}
#navigation .filters-expanded .filter-items .admin {
    width: 300px;
    height: 28px;
    padding: 12px 0 0;
    letter-spacing: 2px;
    color: rgba(232, 227, 241, .4);
    border-bottom: 1px solid rgba(232, 227, 241, .4);
    text-align: right;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#navigation .filters-expanded .filter-items .admin.hover, #navigation .filters-expanded .filter-items .admin:hover {
    width: 310px;
    color: rgba(232, 227, 241, 1);
    border-color: rgba(232, 227, 241, 1);
}
#navigation .filters-expanded .filter-items .admin.selected {
    color: rgba(232, 227, 241, 1);
    border-color: rgba(232, 227, 241, 1);
}

/*
Close Icon
*/

.close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close .close-line {
    background: rgba(232, 227, 241, 1);
    display: block;
    width: 30px;
    height: 3px;
}
.close .close-line.top {
    position: absolute;
    top: 5px;
    left: 0px;
    -webkit-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -moz-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -ms-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -o-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    transform: rotateZ(45deg) translateX(4px) translateY(8px)!important
}

.close .close-line.bottom {
    position: absolute;
    top: 20px;
    left: 0px;
    -webkit-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -moz-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -ms-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -o-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important
}

/*
Piece Submission Pane
*/

#submission-pane {
    position: fixed;
    top: 0px;
    right: -640px;
    height: 100%;
    width: 640px;
    background-color: rgba(11, 14, 23, .6);
    color: rgba(232, 227, 241, 1);
    opacity: 0;
    font-size: 16px;
    z-index: 5000;
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
    transition: all 550ms;
}
#submission-pane.active {
    right: 0px;
    opacity: 1;
}
#submission-pane .header {
    position: absolute;
    top: 20px;
    left: 80px;
    height: 40px;
    width: 536px;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
}
#submission-pane form input, #submission-pane form textarea {
    background-color: rgba(11, 14, 23, 1);
    color: rgba(232, 227, 241, 1);
    border: none;
    -webkit-transition: all 550ms;
       -moz-transition: all 550ms;
        -ms-transition: all 550ms;
         -o-transition: all 550ms;
            transition: all 550ms;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
#submission-pane form textarea {
    width: 80%;
    resize: none;
}
#submission-pane form input:focus, #submission-pane form textarea:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
       -moz-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
            box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
}
#submission-pane .input-field {
    position: absolute;
    width: 580px;
    padding: 0 10px;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgba(232, 227, 241, 1);
}
#submission-pane .input-field:nth-child(1) {
    top: 80px;
    left: 20px;
    height: 40px;
}
#submission-pane .input-field:nth-child(2) {
    top: 140px;
    left: 20px;
    height: 40px;
}
#submission-pane .input-field:nth-child(3) {
    top: 200px;
    left: 20px;
    height: 40px;
}
#submission-pane .input-field:nth-child(4) {
    top: 260px;
    left: 20px;
    height: 40px;
}
#submission-pane .input-field:nth-child(5) {
    top: 320px;
    left: 20px;
    height: 260px;
}
#submission-pane .input-field:nth-child(6) {
    top: 600px;
    left: 20px;
    height: 40px;
}
#submission-pane .input-field:nth-child(7) {
    top: 660px;
    left: 20px;
    height: 40px;
}
#submission-pane .input-field:nth-child(8) {
    top: 660px;
    left: 20px;
    height: 40px;
    opacity: 0;
    z-index: 10;
}
#create-submission {
    position: absolute;
    top: 720px;
    left: 20px;
    height: 40px;
    width: 600px;
    line-height: 40px;
    letter-spacing: 2px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: rgba(232, 227, 241, .4);
    background-color: rgba(11, 14, 23, 1);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 550ms;
       -moz-transition: all 550ms;
        -ms-transition: all 550ms;
         -o-transition: all 550ms;
            transition: all 550ms;
}
#create-submission:hover {
    color: rgba(232, 227, 241, 1);
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
       -moz-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
            box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
}

/*
Explorer
*/

#explorer {

}
#explorer .tile {
    cursor: pointer;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 550ms;
       -moz-transition: all 550ms;
        -ms-transition: all 550ms;
         -o-transition: all 550ms;
            transition: all 550ms;
            
}
#explorer .tile.selected {
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
       -moz-box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
            box-shadow: 0px 0px 24px 0px rgba(255,255,255,1);
}