/*
Additional Navigation Styles
*/

#navigation .filters-expanded .filter-items .admin {
    width: 300px;
    height: 28px;
    padding: 12px 0 0;
    letter-spacing: 2px;
    color: rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    text-align: right;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
#navigation .filters-expanded .filter-items .admin.hover, #navigation .filters-expanded .filter-items .admin:hover {
    width: 310px;
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1)
}
#navigation .filters-expanded .filter-items .admin.selected {
    color: rgba(255,248,217,1);
    border-color: rgba(255,255,255,1)
}

/*
Close Icon
*/

.close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close .close-line {
    background: rgba(255,255,255,1);
    display: block;
    width: 30px;
    height: 3px;
}
.close .close-line.top {
    position: absolute;
    top: 5px;
    left: 0px;
    -webkit-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -moz-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -ms-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -o-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    transform: rotateZ(45deg) translateX(4px) translateY(8px)!important
}

.close .close-line.bottom {
    position: absolute;
    top: 20px;
    left: 0px;
    -webkit-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -moz-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -ms-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -o-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important
}

/*
Piece Submission Pane
*/

#submission-pane {
    position: fixed;
    top: 0;
    right: -640px;
    height: 100%;
    width: 640px;
    background-color: rgba(11, 14, 23, 0);
    color: rgba(255,255,255,1);
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
    transition: all 550ms;
    font-size: 16px;
    z-index: 5000;
    -webkit-backface-visibility: hidden
}
#submission-pane.active {
    right: 0px;
    background-color: rgba(11, 14, 23, .6);
}
#submission-pane form input, #submission-pane form textarea {
    background-color: rgba(11, 14, 23, 1);
    color: (255, 255, 255, 1);
    border: none;
}
#submission-pane form textarea {
    width: 80%;
    resize: none;
}
#submission-pane form input:focus, #submission-pane form textarea:focus {
    outline: none;
}

