/*
Core Styles
*/

html {
	background-color: rgba(11, 14, 23, .6);
	font-family: helvetica, arial, sans-serif;
	zoom: 1;
}
a, a:visited, a:link, a:active {
    color: inherit;
	text-decoration: none;
    transition: color .6s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
}
a:hover {
    text-decoration: none;
	color: rgba(124, 227, 241, 1);

}
.button {
	cursor: pointer;
}
#wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

/*
Color Palette
*/

/* blue */
.b {
	color: rgba(33, 43, 67, 1);
}
.b-bg {
	background-color: rgba(33, 43, 67, 1);
}
/* royal */
.r {
	color: rgba(42, 27, 71, .4);
}
.r-bg {
	background-color: rgba(42, 27, 71, .4);
}
/* dark */
.d {
	color: rgba(11, 14, 23, .6);
}
.d-bg {
	background-color: rgba(11, 14, 23, .6);
}
/* white */
.w {
	color: rgba(232, 227, 241, 1);
}
.w-bg {
	background-color: rgba(232, 227, 241, 1);
}
.transparent {
	color: transparent;
}

/*
Card Flipping
*/

.flip-container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 4000;
    -webkit-perspective: 4000;
}
.flip-container .card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.8s;
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.8s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.8s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.8s;
    transform-style: preserve-3d;
    transition: 0.8s;
}
.flip-container .card .face {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: .99;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.flip-container .card .face.front {
    position: absolute;
    width: inherit;
}
.flip-container .card .face.back {
    position: absolute;
    width: 100%;
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    transform: rotatey(180deg);
    z-index: 10;
}
.flip-container .card.flipped {
    -webkit-transform: rotateY( -180deg );
    -moz-transform: rotateY( -180deg );
    -o-transform: rotateY( -180deg );
    transform: rotateY( -180deg );
}
.flip-container .card.flipped .face.back {
    z-index: 100;
}

/*
UI Elements
*/

#navigation {
    position: fixed;
    top: 0;
    left: -320px;
    height: 100%;
    width: 320px;
    min-width: 320px;
    background-color: rgba(11, 14, 23, 0);
    color: rgba(232, 227, 241, 1);
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
    transition: all 550ms;
    font-size: 16px;
    z-index: 5000;
    -webkit-backface-visibility: hidden
}
#navigation.active {
    left: 0;
    background-color: rgba(11, 14, 23, .9);
}

/* Hamburger Menu */

#navigation .menu-open {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 30px;
    padding-top: 5px;
    display: block;
    z-index: 5000;
    opacity: 1;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: left 700ms;
    -moz-transition: left 700ms;
    -ms-transition: left 700ms;
    -o-transition: left 700ms;
    transition: left 700ms;
    -webkit-backface-visibility: hidden
}

#navigation .menu-open.active {
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    -ms-transform: translateZ(1px);
    -o-transform: translateZ(1px);
    transform: translateZ(1px)
}

#navigation .menu-open span {
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.63,.62,.48,1.64);
    -moz-transition: -moz-transform 200ms cubic-bezier(0.63,.62,.48,1.64);
    -ms-transition: -ms-transform 200ms cubic-bezier(0.63,.62,.48,1.64);
    -o-transition: -o-transform 200ms cubic-bezier(0.63,.62,.48,1.64);
    transition: transform 200ms cubic-bezier(0.63,.62,.48,1.64);
    background: rgba(232, 227, 241, 1);
    display: block;
    width: 30px;
    height: 3px;
}

#navigation .menu-open .top {
    -webkit-transform: rotateZ(0deg) translateX(0px) translateY(-4px);
    -moz-transform: rotateZ(0deg) translateX(0px) translateY(-4px);
    -ms-transform: translateX(0px) translateY(-4px);
    -o-transform: rotateZ(0deg) translateX(0px) translateY(-4px);
    transform: rotateZ(0deg) translateX(0px) translateY(-4px)
}

#navigation .menu-open .bottom {
    -webkit-transform: rotateZ(0deg) translateX(0px) translateY(4px);
    -moz-transform: rotateZ(0deg) translateX(0px) translateY(4px);
    -ms-transform: translateX(0px) translateY(4px);
    -o-transform: rotateZ(0deg) translateX(0px) translateY(4px);
    transform: rotateZ(0deg) translateX(0px) translateY(4px)
}

#navigation .menu-open .menu-line.inner {
    -webkit-transition: opacity 300ms ease-in-out 0ms;
    -moz-transition: opacity 300ms ease-in-out 0ms;
    -ms-transition: opacity 300ms ease-in-out 0ms;
    -o-transition: opacity 300ms ease-in-out 0ms;
    transition: opacity 300ms ease-in-out 0ms;
    margin: 0 0 4px
}

#navigation .menu .inner,.menu-open .top {
    margin: 0 0 4px
}

#navigation .menu-open.close {
    left: 276px
}

#navigation .menu-open.close .top {
    -webkit-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -moz-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -ms-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    -o-transform: rotateZ(45deg) translateX(4px) translateY(8px)!important;
    transform: rotateZ(45deg) translateX(4px) translateY(8px)!important
}

#navigation .menu-open.close .bottom {
    -webkit-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -moz-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -ms-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    -o-transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important;
    transform: rotateZ(-45deg) translateX(3px) translateY(-6px)!important
}
#navigation .menu-open.close .inner {
    opacity: 0
}

/* 
Filters 
*/

#navigation .filters-expanded {
	position: absolute;
	top: 60px;
	left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 550ms;
    -moz-transition: opacity 550ms;
    -ms-transition: opacity 550ms;
    -o-transition: opacity 550ms;
    transition: opacity 550ms;
}
#navigation.active .filters-expanded {
	opacity: 1;
}
#navigation .filters-expanded .filter-items {
    width: 100%;
    height: 60%;
    max-height: 400px;
    overflow: hidden;
    margin: 20px 0 0 0;

}
#navigation .filters-expanded .filter-items .filter {
    width: 300px;
    height: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    color: rgba(232, 227, 241, .4);
    border-bottom: 1px solid rgba(232, 227, 241, .4);
    text-align: right;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
#navigation .filters-expanded .filter-items .filter.hover, #navigation .filters-expanded .filter-items .filter:hover {
    width: 310px;
    color: rgba(232, 227, 241, 1);
    border-color: rgba(232, 227, 241, 1);
}
#navigation .filters-expanded .filter-items .filter.selected {
    color: rgba(232, 227, 241, 1);
    border-color: rgba(232, 227, 241, 1);
}

/* Search Bar */

#navigation .search {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 320px;
	height: 40px;
	font-size: 16px;
	text-align: right;
	letter-spacing: 2px;
	color: rgba(232, 227, 241, .4);
    /*background-color: rgba(11, 14, 23, 1);*/
}
#navigation .search:focus {
	border-bottom: 1px solid rgba(232, 227, 241, .4);
}
#navigation .search .bar {
	position: absolute;
	width: 200px;
	height: 28px;
	padding: 12px 20px 0 0;
	overflow: hidden;
	white-space: nowrap;
    color: rgba(232, 227, 241, 1);
}
#navigation .search .bar:focus {
	border: none;
	outline: 0 solid transparent;
}
#navigation .search .submit {
	position: absolute;
	top: 0px;
	right: 20px;
	width: 80px;
	height: 28px;
	padding: 12px 0 0 0;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}
#navigation .search .submit:hover {
	right: 10px;
	color: rgba(232, 227, 241, 1);
}

/*
Explorer
*/

#explorer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 550ms;
    -moz-transition: all 550ms;
    -ms-transition: all 550ms;
    -o-transition: all 550ms;
    transition: all 550ms;
}
#explorer.active {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
}
#explorer .tile {
    position: relative;
    margin: 10px;
    float: left;
}
#explorer .tile .flip-handle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
}
#explorer .tile .flip-handle img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: #FFFFFF;
}
#explorer .tile .front {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#explorer .tile .back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(11, 14, 23, .9);
}
#explorer .tile .back .title {
    float: left;
    margin: 40px;
    width: 520px;
    height: 32px;
    font-size: 24px;
}
#explorer .tile .back .client {
    float: left;
    margin: 40px 20px 40px 40px;
    width: 230px;
    height: 32px;  
    font-size: 24px;
}
#explorer .tile .back .content {
    float: left;
    margin: 40px 40px 40px 20px;
    width: 230px;
    height: 32px;
    font-size: 24px;
}
#explorer .tile .back .description {
    float: left;
    margin: 20px 40px 40px 40px;
    width: 520px;
    height: 316px;
    font-size: 20px;
    line-height: 24px;
}
/*
#explorer .tile .front .image {
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 0px;
    background-color: rgba(255, 255, 255, .1);
    opacity: 1;
}
*/
#explorer .tile .front .image img {
    width: 100%;
    height: 100%;
}
#explorer .tile .back .url {
    
}

/*
Footer
*/

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 72px;
}

/*
Index - Specific Styles
*/

#index {
    position: relative;
    margin: 0 auto;
    width: 2000px;
    height: 2000px;
}
#index .content {
	top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 2000px;
    height: 2000px;
}
#index .content .prompt {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: 32px;
    cursor: pointer;
}
#index .content .circle {
    position: absolute;
}
#index .content .iris {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 2000px;
    height: 2000px;
/*    margin: -1000px 0 0 -1000px;*/
}
#index .content .enter {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 240px;
	height: 40px;
	margin: -20px 0 0 -120px;
	font-size: 32px;
	letter-spacing: 6px;
	text-align: center;
	color: rgba(232, 227, 241, 1);
}

/*
Scrollbar Styles
*/

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}
.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: rgba(232, 227, 241, .4)
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: rgba(232, 227, 241, .4);
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: rgba(11, 14, 23, .6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: rgba(11, 14, 23, .6);
}
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}

/*
Slideshow
*/

.face.front .viewport {
    position: relative;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 600px;
    overflow: hidden;
}
.face.front .viewport .slideshow {
    position: relative;
    height: 600px;
    width: 600px;
}
.face.front .viewport .slideshow .image {
    float: left;
    width: 600px;
    height: 600px;
    left: 0px;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
/*.face.front .viewport .slideshow .image:first-child {
    position: ;
}*/
.face.front .viewport .slideshow .image.active {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.face.front .navigation {
    position: absolute;
    top: 270px;
    left: 0px;
    width: 600px;
    height: 60px;
}
.face.front .navigation .prev, .face.front .navigation .next {
    position: absolute;
    top: 20px;
    height: 20px;
    text-align: center;
    width: 80px;
}
.face.front .navigation .prev {
    left: 0px;
}
.face.front .navigation .next {
    right: 0px;
}
