extends ../core/layout
block content
	include ../html/index.html

//- doctype html
//- html
//- 	head
//- 		link(href='../css/reset.css', rel='stylesheet', type='text/css')
//- 		link(href='../css/main.css', rel='stylesheet', type='text/css')
//- 	body
//- 		include ../html/index.html
//- 		script(src='../js/lib/jquery.min.js', type='text/javascript')
//- 		script(src='../js/lib/d3.min.js', type='text/javascript')
//- 		script(src='../js/iris.js', type='text/javascript')
//- 		script(src='../js/lib/analytics.min.js', type='text/javascript')