<div id="wrapper">
	<div id="navigation">
		<div class="menu-open">
			<span class="menu-line outer top"></span>
			<span class="menu-line inner"></span>
			<span class="menu-line outer bottom"></span>
		</div>
		<div class="filters-expanded">
			<div class="filter-items scrollable">
				<div id="open-submission" class="button admin">
					CREATE
				</div>
				<div id="selectTiles" class="button admin">
					SELECT ALL
				</div>
				<div id="deselectTiles" class="button admin">
					DESELECT ALL
				</div>
				<div class="button admin post" data-call="/cms/curate" data-key="curated" data-val=true>
					CURATE
				</div>
				<div class="button admin post" data-call="/cms/hide" data-key="curated" data-val=false>
					HIDE
				</div>
				<div class="button admin post" data-call="/cms/feature" data-key="featured" data-val=true>
					FEATURE
				</div>
				<div class="button admin post" data-call="/cms/unfeature" data-key="featured" data-val=false>
					UNFEATURE
				</div>
				<div class="button admin post" data-call="/cms/delete">
					DELETE
				</div>
				<div class="button admin get" data-call="/cms/showFeatured" data-key="featured" data-val=true>
					FEATURED
				</div>
				<div class="button admin get" data-call="/cms/showCurated" data-key="curated" data-val=true>
					CURATED
				</div>
				<div class="button admin get" data-call="/cms/showHidden" data-key="curated" data-val=false>
					HIDDEN
				</div>
				<div class="button admin get" data-call="/cms/new" data-key="updatedAt" data-val=null>
					NEW
				</div>
				<div class="button filter" data-filter="all">
					ALL
				</div>
				<div class="button filter" data-filter="about">
					ABOUT
				</div>
				<div class="button filter" data-filter="website">
					WEBSITES
				</div>
				<div class="button filter" data-filter="interactive">
					INTERACTIVES
				</div>
				<div class="button filter" data-filter="music">
					MUSIC
				</div>
				<div class="button filter" data-filter="sound">
					SOUND DESIGN
				</div>
				<div class="button filter" data-filter="photography">
					PHOTOGRAPHY
				</div>
				<div class="button filter" data-filter="technology">
					TECHNOLOGIES
				</div>
				<div class="button filter" data-filter="codesnippets">
					CODE SNIPPETS
				</div>
				<div class="button filter" data-filter="experience">
					EXPERIENCE
				</div>
			</div>
		</div>
		<div class="search">
			<div class="bar" contenteditable></div>
			<div class="submit button">SEARCH</div>
		</div>
	</div>
	<div id="submission-pane">
		<div id="close-submission">
			<div class="close">
				<span class="close-line top"></span>
				<span class="close-line bottom"></span>
			</div>
		</div>
		<div class="header">
			Post That Shit
		</div>
		<form id="piece" action="/cms/submit" enctype="multipart/form-data" method="post" target="uploader">
			<input id="title-input" name="title" type="text" class="input-field" placeholder="TITLE" />
			<input id="client-input" name="client" type="text" class="input-field" placeholder="CLIENT" />
			<input id="url-input" name="url" type="text" class="input-field" placeholder="URL" />
			<input id="content-input" name="content" type="text" class="input-field" placeholder="CONTENT" />
			<input id="postType-input" name="postType" type="text" class="input-field" placeholder="POST TYPE" />
			<textarea id="description-input" name="description" type="text" class="input-field" placeholder="DESCRIPTION"></textarea>
			<input id="tags-input" type="text" name="tags" class="input-field" placeholder="TAGS" />
			<input id="file-input-mask" class="input-field" placeholder="FILE UPLOAD" />
			<input id="file-input" type="file" name="files" class="input-field" multiple/>
			<input id="facebook-input" type="text" class="input-field" placeholder="FACEBOOK" />
			<input id="twitter-input" type="text" class="input-field" placeholder="TWITTER" />
			<input id="linkedin-input" type="text" class="input-field" placeholder="LINKEDIN" />
			<input id="create-submission" type="submit" value="DONE">
		</form>
		<iframe id="uploader" name="uploader" style="display: none;"></iframe>
	</div>
	<div id="explorer" class="content w d-bg" data-bind="foreach: tiles">
		<div class="flip-container">
			<div data-bind="attr: {'class': element, 'id': id, 'data-tags': tags}, click: function () { admin.toggleTile($data) }, style: {width: width() + 'px', height: height() + 'px'}">
				<div class="card">
					<div class="face front">
						<div class="carousel" data-bind="foreach: data().files">
							<div class="image">
								<img data-bind='attr: {src: "https://d2osuiq5lifihc.cloudfront.net/" + $data.path}' />
							</div>
						</div>
						<div class="flip-handle" data-bind="click: function (data, event) { admin.explorer.flipTile(data, event) }">
							<img src="../img/rotate-l.ico" />
						</div>
					</div>
					<div class="face back">
						<div class="title">
							<a data-bind="html: data().title, attr{href: data().url}" target="_blank"></a>
						</div>
						<div class="client" data-bind="html: data().client"></div>
						<div class="content" data-bind="html: data().content"></div>
						<div class="description" data-bind="html: data().description"></div>
						<div class="flip-handle" data-bind="click: function (data, event) { admin.explorer.flipTile(data, event) }">
							<img src="../img/rotate-r.ico" />
						</div>
					</div>
				</div>
			<div>
		</div>
	</div>
	<div id="footer">
		FOOTER
    </div>
</div>