<div id="wrapper">
	<div id="navigation">
		<div class="menu-open">
			<span class="menu-line outer top"></span>
			<span class="menu-line inner"></span>
			<span class="menu-line outer bottom"></span>
		</div>
		<div class="filters-expanded">
			<div class="filter-items">
				<div class="button admin">
					ADD PIECE
				</div>
				<div class="button admin post" data-api="feature">
					FEATURE PIECE
				</div>
				<div class="button admin post" data-api="curate">
					CURATE PIECE
				</div>
				<div class="button admin post" data-api="hide">
					HIDE PIECE
				</div>
				<div class="button admin post" data-api="showFeatured">
					SHOW FEATURED
				</div>
				<div class="button admin post" data-api="showCurated">
					SHOW CURATED
				</div>
				<div class="button admin post" data-api="showHidden">
					SHOW HIDDEN
				</div>
				<div class="button admin post" data-api="new">
					SHOW NEW
				</div>
				<div class="button admin post" data-api="delete">
					DELETE PIECE
				</div>
				<div class="button filter get" data-filter="web-sites">
					WEB SITES
				</div>
				<div class="button filter get" data-filter="interactives">
					INTERACTIVES
				</div>
				<div class="button filter get" data-filter="music">
					MUSIC
				</div>
				<div class="button filter get" data-filter="sound-design">
					SOUND DESIGN
				</div>
				<div class="button filter get" data-filter="photography">
					PHOTOGRAPHY
				</div>
				<div class="button filter get" data-filter="technology">
					TECHNOLOGIES
				</div>
			</div>
		</div>
		<div class="search">
			<div class="bar" contenteditable></div>
			<div class="submit button">SEARCH</div>
		</div>
	</div>
	<div id="explorer" class="content w d-bg">
		<div class="tile"></div>
	</div>
	<div id="footer">
		FOOTER
    </div>
</div>