<div id="wrapper">
	<div id="navigation">
		<div class="menu-open">
			<span class="menu-line outer top"></span>
			<span class="menu-line inner"></span>
			<span class="menu-line outer bottom"></span>
		</div>
		<div class="filters-expanded">
			<div class="filter-items">
				<div id="open-submission" class="button admin">
					ADD PIECE
				</div>
				<div class="button admin post" data-call="/cms-feature">
					FEATURE PIECE
				</div>
				<div class="button admin post" data-call="/cms-curate">
					CURATE PIECE
				</div>
				<div class="button admin post" data-call="/cms-hide">
					HIDE PIECE
				</div>
				<div class="button admin get" data-call="/cms-showFeatured">
					SHOW FEATURED
				</div>
				<div class="button admin get" data-call="/cms-showCurated">
					SHOW CURATED
				</div>
				<div class="button admin get" data-call="/cms-showHidden">
					SHOW HIDDEN
				</div>
				<div class="button admin get" data-call="/cms-new">
					SHOW NEW
				</div>
				<div class="button admin post" data-call="/cms-delete">
					DELETE PIECE
				</div>
				<div class="button filter get" data-filter="web-sites">
					WEB SITES
				</div>
				<div class="button filter get" data-filter="interactives">
					INTERACTIVES
				</div>
				<div class="button filter get" data-filter="music">
					MUSIC
				</div>
				<div class="button filter get" data-filter="sound-design">
					SOUND DESIGN
				</div>
				<div class="button filter get" data-filter="photography">
					PHOTOGRAPHY
				</div>
				<div class="button filter get" data-filter="technology">
					TECHNOLOGIES
				</div>
			</div>
		</div>
		<div class="search">
			<div class="bar" contenteditable></div>
			<div class="submit button">SEARCH</div>
		</div>
	</div>
	<div id="submission-pane">
		<div id="close-submission">
			<div class="close">
				<span class="close-line top"></span>
				<span class="close-line bottom"></span>
			</div>
		</div>
		<form id="piece">
			<input type="text" class="title" />
			<input type="text" class="url" />
			<input type="text" class="content" />
			<textarea type="text" class="description"></textarea>
			<input type="text" class="tags" />
		</form>
		<div id="create-submission">

		</div>
	</div>
	<div id="explorer" class="content w d-bg">
		<div class="tile"></div>
	</div>
	<div id="footer">
		FOOTER
    </div>
</div>