doctype html
html
	head
		link(href='../css/reset.css', rel='stylesheet', type='text/css')
		link(href='../css/main.css', rel='stylesheet', type="text/css")
		link(href='../css/admin.css', rel='stylesheet', type="text/css")
	body
		include admin.html
		script(src='../js/lib/jquery.min.js', type='text/javascript')
		script(src='../js/lib/perfect-scrollbar.min.js', type='text/javascript')
		script(src='../js/lib/ko.min.js', type='text/javascript')
		script(src='../js/slideshow.js', type='text/javascript')
		script(src='../js/tile.js', type='text/javascript')
		script(src='../js/explore.js', type='text/javascript')
		script(src='../js/admin.js', type='text/javascript')
		script(src='../js/lib/analytics.min.js', type='text/javascript')