<div id="wrapper">
	<div id="interactives">	
		<div class="navigation w d-bg">
			<div class="page">
				<a href="websites">
					WEB SITES
				</a>
			</div>
			<div class="page">
				<a href="interactives">
					INTERACTIVES
				</a>
			</div>
			<div class="page">
				<a href="music">
					MUSIC
				</a>
			</div>
			<div class="page">
				<a href="sounddesign">
					SOUND DESIGN
				</a>
			</div>
			<div class="page">
				<a href="photography">
					PHOTOGRAPHY
				</a>
			</div>
			<div class="page">
				<a href="technologies">
					TECHNOLOGIES
				</a>
			</div>
		</div>
	    <div class="content w d-bg">
	    	<a href="http://mvp.columnfivemedia.com">FORBES</a>
	    	<a href="http://www.entrepreneur.com/interactive/topcolleges/">ENTREPRENEUR</a>
	    	<a href="http://images.blog.turbotax.intuit.com/swf/bonuscalculator/index.html">TURBO TAX</a>
	    	<a href="http://www.sportsinteraction.com/2014-sochi-schedule-results/">SOCHI</a>
	    </div>
	</div>
	<div id="footer">
		FOOTER
    </div>
</div>