<div id="wrapper">
	<div id="sounddesign">	
		<div class="navigation w d-bg">
			<div class="page">
				<a href="websites">
					WEB SITES
				</a>
			</div>
			<div class="page">
				<a href="interactives">
					INTERACTIVES
				</a>
			</div>
			<div class="page">
				<a href="music">
					MUSIC
				</a>
			</div>
			<div class="page">
				<a href="sounddesign">
					SOUND DESIGN
				</a>
			</div>
			<div class="page">
				<a href="photography">
					PHOTOGRAPHY
				</a>
			</div>
			<div class="page">
				<a href="technologiess">
					TECHNOLOGIES
				</a>
			</div>
		</div>
	    <div class="content w d-bg">

	    </div>
	</div>
	<div id="footer">
		FOOTER
    </div>
</div>